@import url("https://use.typekit.net/ndn1fhm.css");

html{
    background: url('../../../public/assets/background.png') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    text-align: center;
    color: white;
}

#root{
    height: 100%;
}
h1{
    font-family: omnes-cond;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    letter-spacing: 0.3em;
}

img{
    z-index: 4;
    height: 150px;
    width: auto;
}
