ul{
    list-style-type: none;
    border: thick double white;
}

li{
    margin: 10px;
}

.instructionTitle{
    text-decoration: underline;
}

.links{
    display:flex;
    justify-content:space-around;
    position: fixed;
    bottom: 5%;
    width: 100%;
    font-weight: 700;
    a, a:visited{
        color:white;
        text-decoration:none;
    }
}