@import url("https://use.typekit.net/ndn1fhm.css");

.scoreboard{
    display: grid;
    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
    text-shadow: 2px 2px #7e7e7e;
    

    
}

.scores{
    display: grid;
    border: 2px white solid;
    width: 300px;
    grid-template-rows: auto;
    position: absolute;
    right: 2%;
    top: 2%;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.562);
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.37);
    ol{
        list-style: none;
        width: auto;
        padding-inline-start: 0px;
    }
    li{
        justify-self: center;
        width: 250px;
        border-radius: 5px;
        margin: 1px;
        padding-bottom: 2px;
        text-decoration: underline;
        
    }
    h3{
        letter-spacing: 0.3em;
        margin: 0px;
    }
    a {
        display:none;
    }
}

.rounds{
    position: absolute;
    left: 2%;
    bottom: 2%;
}

.winner{
    display: grid;
    border: 2px white solid;
    width: 300px;
    grid-template-rows: auto;
    position: absolute;
    right: 40%;
    bottom: 10%;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.562);
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.37);
    ol{
        list-style: none;
        width: auto;
        padding-inline-start: 0px;
    }
    li{
        justify-self: center;
        width: 250px;
        border-radius: 5px;
        margin: 1px;
        padding-bottom: 2px;
        text-decoration: underline;
        
    }
    h3{
        letter-spacing: 0.3em;
        margin: 0px;
    }
    
    a{
        font-size: 2rem;
    }
}
