.links{
    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
    letter-spacing: 0.3em;
    display:flex;
    justify-content:space-around;
    position: fixed;
    bottom: 5%;
    width: 100%;
    font-weight: 700;
    a, a:visited{
        color:white;
        text-decoration:none;
    }
}

.about{
    transition: transform .2s;
}
.about:hover{
    transform: scale(1.5);
}

.instruction{
    transition: transform .2s;
}

.instruction:hover{
    transform: scale(1.5);
}
